{% extends "base.html" %}

{% block content %}
    <div class="row">
        <div class="small-12 medium-8 medium-offset-2 large-6 large-offset-3 columns text-center">
            <div class="media-object tjl-transport-media-object">
                <div class="media-object-section">
                    <h4>Bussid</h4>
                </div>
            </div>
            <div class="media-object tjl-transport-media-object">
                <div class="media-object-section">
                    <p></p>
                </div>
            </div>
            <div id="disqus_thread"></div>
            <script>
                var disqus_config = function () {
                    this.page.url = 'https://triinjalauri.ee/transport';
                    this.page.identifier = 'https://triinjalauri.ee/transport';
                };
                (function () {
                    var d = document, s = d.createElement('script');
                    s.src = '//triinjalauri-ee.disqus.com/embed.js';
                    s.setAttribute('data-timestamp', +new Date());
                    (d.head || d.body).appendChild(s);
                })();
            </script>
            <noscript>Please enable JavaScript to view the <a href="https://disqus.com/?ref_noscript">comments
                powered by Disqus.</a></noscript>
        </div>
    </div>
{% endblock %}